<div class="main-w3layouts wrapper">
  <h1>Cadastrar pessoas</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="/pessoa" method="post">
        <input type="hidden" name="id" value="{{result.id}}">
        <input class="text" type="text" name="nome" placeholder="Nome" required="" value="{{result.nome}}">
        <input class="text email" type="email" name="email" placeholder="Email" required="" value="{{result.email}}">
        <input class="text" type="text" name="telefone" placeholder="Telefone" required="" value="{{result.telefone}}">
        <input type="submit" value="Salvar">
      </form>
    </div>
  </div>
  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>